@media screen and (max-width: $mobile-bp) {
  .logo {
    display: block !important;
    margin: 0 auto;
  }
}
.input-datepicker .agendar{
    width:120px;
}
.jetBg {
  background: rgb(248, 248, 248) !important;
  
  .ui.segment {
    box-shadow: none;
  }
}

.whiteBg {
  background: white;
}


.jet.checkout {
  .success {
    .icon {
      color: $bg-checkout-success-dark;
    }
  }

  &.jBreadCrumb {
    @extend .flexCenter;

    @media screen and (max-width: $mobile-bp) {
      display: none;
    }

    .jCrumb {
      @extend .flexCenter;
      flex-wrap: wrap;
      margin: 0 10px;
      z-index: 2;

      .jBullet {
        @extend .flexCenter;
        background: #fefefe linear-gradient(to right, #fefefe 0, #e3e3e3 100%);
        border-radius: 50%;
        color: #ffffff;
        height: 50px;
        width: 50px;

        @media screen and (max-width: $mobile-bp) {
          height: 35px;
          width: 35px;
        }
      }

      .jButton {
        background: #ddd;
        border: 2px solid #ffffff;
        border-radius: 50%;
        height: 40px;
        text-align: center;
        width: 40px;

        @media screen and (max-width: $mobile-bp) {
          height: 30px;
          width: 30px;
        }

        span {
          font-size: 20px;
          line-height: 34px;

          @media screen and (max-width: $mobile-bp) {
            font-size: 15px;
            line-height: 28px;
          }
        }
      }

      h4 {
        clear: both;
        flex: none;
        margin-top: 10px;
        text-transform: uppercase;
        width: 100%;

        @media screen and (max-width: $mobile-bp) {
          display: none;
        }
      }

      &.active {
        .jButton {
          background: $primary-color;
        }

        h4 {
          color: $primary-color;
        }
      }

      &.completed {
        .jButton {
          background: $primary-color;

          span {
            color: white;

            i {
              margin-left: 4px;
            }
          }
        }

        h4 {
          color: $primary-color;
        }
      }
    }

    &:after {
      content: "";
      border-bottom: 6px solid rgb(246, 246, 246);
      width: 65%;
      position: absolute;
      top: 23px;
      z-index: 1;

      @media screen and (max-width: $mobile-bp) {
        content: "";
        border-bottom: 3px solid #f6f6f6;
        width: 30%;
        position: absolute;
        top: 17px;
        z-index: 1;
      }
    }
  }

  input:not([type]),
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="text"],
  input[type="file"],
  input[type="url"] {
    border: 0px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0px !important;

    &.fluid {
      min-width: 60%;
      width: 100%;
    }
  }
}

.presente {
  #checkPresente {
    margin-top:10px;
  }
}



#jetCheckout-Logo {
    #logo {
        fill: #00B04C;
    }

    #lock {
        fill: #010101;
    }

    #texto {
        fill: #010101;
    }
}

.ui.form .two.fields > .fields, .ui.form .two.fields > .field.hidden {
    display: none;
}

.success-debit-pagseguro {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
}
.success-debit-pagseguro h3 {
    text-align: center;
}
.shopping-voucher {
    .ui.input {
        width: 100%;
        
        input {
            border-color: #fff;
            border-bottom-color: #ddd;
        }
        
    }
}

.no-border {
    border: 0 none !important;
}

@media screen and (max-width: $tablet-bp-max) {
  .jetCheckout {
    margin-bottom: 1em !important;
  }
}