$menuBG: $primary-color;
$menuTextColor: $white;
$menuHeight: 50px;
$menuHoverBorderColor: $secondary-color;
$colorLinkSubMenu: "#666";

.ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
    background:none!important;
}

.menuheader {
    width: 100%;
    min-height: $menuHeight;
    
    .ui.menu {
        background: transparent;
        background-color: transparent;
        border: 0px;
        box-shadow: none;
        display: flex;
        font-weight: 400;
        min-height: 2.85714286em;
        flex-wrap: wrap;
        margin: 0;
        
        li {
            >.item {
                display: inline-block;
                border-right: 1px solid #fff !important; 
                word-wrap: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                margin: 0;
                font-size: 14px;
                line-height: $menuHeight;
                
                @media screen and (min-width: 768px) {
                    height: 60px;
                }
                
                @media screen and (max-width: 768px) {
                    border-right: 0 !important;
                    border-bottom: 0;
                }
                
                &:before {
                    content: '';
                    position: relative;
                    display: table;
                    background: url('/assets/image/lock_segura.png') !important;
                    background-repeat: no-repeat;
                    background-size: auto;
                    width: 15px;
                    height: 19px;
                    margin: 0 auto;
                    margin-top: 9px;
                    margin-bottom: -12px;
                }
                
                >.icon.dropdown {
                    line-height: 45px;
                }
                
                >.icon.content {
                    font-size: 26px;
                    line-height: 1;
                    margin-right: 15px;
                }
                
                .menu {
                    border-radius: 0px !important;
                    margin-top: 0px !important;
                    z-index: 10;
                    
                    .item {
                        line-height: 18px;
                    }
                    
                    .menu {
                        box-shadow: none;
                    }
                }
            }
        }
        
        &:last-child{
            .item{
                border-right: 0;
            }
        }
        
        .header {
            a {
                color: $colorLinkSubMenu;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    
    .ui.menu .item {
        color: $menuTextColor;
        line-height: $menuHeight;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
    .sub-megamenu {
        .ui.link.list {
            .item {
                color: rgba(0, 0, 0, 0.7);
                margin: 0.5em 0px;
                padding-left: 10px;
            }
        }
    }
    
    .ui.list {
        h4 {
            font-weight: normal;
        }
        
        .item {
            color: rgba(0, 0, 0, .7);
            padding-left: 10px !important;
        }
    }
}

/* Mega Menu Start */
@import "wsmenu/style";
/* MegaMenu End */