﻿@model DomainCompany.Entities.CustomPageContent
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.TitlePage) ? Model.Name : Model.TitlePage;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.Metatag))
        {
            <meta name="Description" content="@Model.Metatag">
        }
    }
}

<div class="institucional">
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide tablet three wide computer column">
                <div class="menu-institucional">
                    <p class="title ui only mobile">Menu</p>

                    <ul class="">
                        <li><a href="/institucional/7971/10013" class="item" title="Quem Somos">Quem Somos</a></li>
                        <li><a href="/institucional/7971/10014" class="item" title="Política de Privacidade">Política de Privacidade</a></li>
                        <li><a href="/institucional/7971/10018" class="item" title="Trocas e Devoluções">Trocas e Devoluções</a></li>
                        <li><a href="/institucional/7971/10475" class="item" title="Política de Segurança">Política de Segurança</a></li>
                        <li><a href="/institucional/7971/10476" class="item" title="Formas de Entrega">Formas de Entrega</a></li>
                        <li><a href="/institucional/7971/10477" class="item" title="Frete Grátis São Paulo">Frete Grátis São Paulo</a></li>
                    </ul>
                </div>
            </div>

            <div class="sixteen wide tablet ten wide computer column">
                <h1>@(Model != null ? Model.Name : "")</h1>
                @Html.Raw(Model.Content)
            </div>

            <div class="sixteen wide tablet three wide computer column">
                <div class="box-contato">
                    <p class="name-box">Fale Conosco</p>
                    <ul class="telefones">
                        <li class="tel">
                            <p class="title">SAC:</p>
                            <span class="telefone"><a href="tel:551142001309">(11) 4200-1309</a></span>
                        </li>
                        <li class="whats">
                            <p class="title">Whatsapp</p>
                            <span class="telefone"><a href="https://api.whatsapp.com/send?phone=5511943297167&amp;text=sua%20mensagem&amp;source=&amp;data=">(11) 94329-7167</a></span>
                        </li>
                    </ul>
                    <div class="atendimento">
                        <p>Atendimento de Segunda à Sexta <br>
                            das 08:00 às 17:00</p>
                    </div>

                    <div class="fale-conosco">
                        <p class="name-box">Não encontrou o que
                            procura?</p>
                        <a href="/fale-conosco" class="btn-fale-conosco">Tire suas dúvidas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>