.car-banners {
	margin-top: 0 !important;
	
	.container {
		position:relative;
		
		.description {
			width: 30%;
			height: 100%;
			top: 0;
			bottom: 0;
			position: absolute;
			background: rgba(255,255,255,.5);
			display: flex;
			
			.html {
				flex-direction: column;
				vertical-align: middle;
				align-self: center !important;
				width:100%;
				text-align: center;
			}
		}
	}	
}

.ui.images {
	img.side-halfbanner-image {
		margin-left: 0px;
		margin-right: 0px;
	}
}