.infoBar {
	ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		list-style: none;
		background-color: #d8f3f7;
		border-radius: 50px;
		width: auto;
		padding: 5px 0;
		
		li {
			p {
				display: flex;
				align-items: center;
				font-size: 16px;
				color: #13454c;

				@media screen and (max-width:$mobile-bp) {
					justify-content: center;
				}
				
				i {
					margin-right: 10px;
	
					svg {
						width: 20px;
						height: auto;
						fill: #13454c;
					}
				}
			}
		}
	}
}

.FooterHalfMenu {
	padding: 40px 0;
	margin: 50px 0;
	background-color: #ebf1f2;

	h2 {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		display: block;
		margin-bottom: 30px;
	}

	ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
		
		@media screen and (max-width:$mobile-bp) {
			flex-wrap: wrap;
		}

		li {
			@media screen and (max-width:$mobile-bp) {
				width: 48%;
				margin-bottom: 10px;
			}

			a {
				display: block;
				position: relative;

				img {
					@media screen and (max-width:$mobile-bp) {
						width: 100%;
						height: 100%;
					}
				}

				&:hover {
					.likes {
						opacity: 1;
					}
				}
				
				.likes {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 38px;
					font-weight: bold;
					color: white;
					background-color: #00000066;
					opacity: 0;
					transition: opacity 300ms;

					i {
						margin-bottom: -13px;
					}
				}
			}
		}
	}
}