.institucional {
    @media screen and (min-width: $mobile-bp)  {
        margin-top: 40px;
    }
    
    .menu-institucional {
        padding-left: 0;
        padding-top: 0px !important;

        @media screen and (max-width: $mobile-bp) {
            .title {
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                border:1px solid #dcdcdc;
                margin-bottom: 0;
            }
        }

        ul {
            background: #fff;
            padding: 0 0 0;
            border: 1px solid #d2d2d2;

            @media screen and (max-width: $mobile-bp) {
                display: none;
                width: 100%;
                margin-top: 0;
                margin-bottom: 40px;
            }
        }

        li {
            height: 35px;
            line-height: 35px;

            @media screen and (max-width: $mobile-bp) {
                border-bottom: 1px solid #dbdbdb;
                height: 60px;
                line-height: 60px;

                &:last-child {
                    border-bottom: 0!important;
                }

                &.mob {
                    position: relative;

                    @media screen and (max-width: $mobile-bp) {

                        &:after {
                            content: "";
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-image: url('/assets/image/institucional/menu-institucional-seta.png');
                            background-repeat: no-repeat;
                            background-size: 100%;
                            position: absolute;
                            top: 25px;
                            right: 15px;
                        }
                    }
                }
            }

        }

        li,
        a {
            color: #343434;
            font-size: 14px;
            width: 100%;
            display: block;

            @media screen and (max-width: $mobile-bp) {
                color: #373737;
                font-size: 16px;

            }

            &.active {
                font-weight: bold;
                background: #ffee00;

                @media screen and (max-width: $mobile-bp) {
                    background: transparent;
                    font-weight: lighter;
                }
            }
        }

        a {
            padding-left: 10px;

            @media screen and (max-width: $mobile-bp) {
                padding-left: 15px;
            }
        }
    }

    .box-contato {
        background-color: #ffffff;
        border: 1px solid #d2d2d2;
        padding: 10px 10px 15px;

        ul {
            padding: 0;
            list-style: none;
        }

        @media screen and (max-width: $mobile-bp) {
            padding: 30px 15px;
            margin-top: 60px;
            width: 500px;
            display: block;
            margin: 0 auto;
        }

        @media screen and (max-width: $mobile-bp) {
            width: 100%;
            margin-top: 45px;
        }

        p {
            &.name-box {
                font-size: 16px;
                font-weight: lighter;
                margin-bottom: 20px;
                color: #0f0f0f;
                font-weight: bold;

                @media screen and (max-width: $mobile-bp) {
                    text-align: center;
                }

                @media screen and (max-width: $mobile-bp) {
                    text-align: left;
                }
            }
        }

        a {
            color: #131313;
            font-weight: lighter;
        }

        li {
            margin-bottom: 25px;
            padding-left: 35px;
            position: relative;

            @media screen and (max-width: $mobile-bp) {
                padding-left: 30px;
                width: 100%;
            }

            p {
                margin-bottom: 0px;
                font-size: 16px;
                font-weight: lighter;
                color: #5d5d5d;
            }

            a {
                font-size: 18px;
            }

            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            &.tel {
                &:before {
                    background-image: url("/assets/image/institucional/phone-call.png")
                }
            }

            &.whats {
                &:before {
                    background-image: url('/assets/image/institucional/whatsapp-logo.png');
                }
            }

            .tablet {
                @media screen and (max-width: $mobile-bp) {
                    display: none;
                }
            }
        }

        .telefones {
            margin-bottom: 0;

            ul {
                padding: 0;
                list-style: none;
            }
        }

        .atendimento {
            margin-bottom: 50px;

            p {
                font-size: 14px;
                margin-bottom: 0px;
                color: #5d5d5d;
            }
        }

        .fale-conosco {
            @media screen and (max-width: $mobile-bp) {
                display: block;
                width: 230px;
                margin: 0 auto;
            }

            @media screen and (max-width: $mobile-bp) {
                width: 100%;
            }

            p {
                margin-bottom: 10px;
            }

            .name-box {
                color: #0f0f0f;
                font-size: 16px;
                font-weight: bold;
            }

            .btn-fale-conosco {
                width: 100%;
                height: 45px;
                background-color: #35a376;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 45px;
                display: block;
                text-align: center;
                font-weight: 600;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }
}