#overlay {
	display: none;
	background-color: rgba(210, 210, 210, 0.37);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	&.active {
		display: block;
	}
}

.box_newsletter {
	background-image: url(/assets/image/banners/bg_newsletter.png);
	background-color: #2b67a9;
	padding: 40px 0;
	margin-top: 60px;

	.form_contact {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.column_1 {
			width: 100%;
			display: flex;
			align-items: center;

			p {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
				color: white;

				span {
					display: block;
					font-size: 30px;
					font-weight: bold;
					margin-bottom: 20px;
				}

				small {
					font-size: 18px;
					font-weight: 400;
				}
			}
		}

		.column_2 {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			input[type="text"] {
				width: 100%;
				max-width: 450px;
				height: 40px;
				border-radius: 3px;
				text-indent: 30px;
				border: none;
				border-radius: 40px;
			}

			button {
				width: 135px;
				margin-left: -139px;
				height: 32px;
				border: none;
				color: white;
				font-size: 16px;
				font-weight: bold;
				background-color: #d47f25;
				cursor: pointer;
				border-radius: 50px;

				@media screen and (max-width:$mobile-bp) {
					float: right;
				}
			}
		}
	}
}

footer {
	#jetLogo {
		width: 50px;
		height: 35px;
	}

	#jetLogo .st0 {
		fill: #3d3d49 !important;
	}

	.selos {
		a {
			margin-right: 10px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.row-1 {
		padding: 30px 0 15px;

		@media screen and (max-width:$mobile-bp) {
			padding: 10px 0 15px;
		}

		.sixteen {
			@media screen and (max-width:$mobile-bp) {
				padding-top: 0 !important;
			}
		}

		.toggle {
			@media screen and (max-width:$mobile-bp) {
				margin-left: -15px;
				padding-left: 15px;

				&.active {
					.title {
						@media screen and (max-width:$mobile-bp) {
							&:after {
								transform: rotate(45deg);
							}
						}
					}
				}
			}
		}

		.title {
			font-weight: bold;

			@media screen and (max-width:$mobile-bp) {
				margin-bottom: 0;
				font-size: 18px;
				height: 55px;
				line-height: 55px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:after {
					content: '';
					width: 8px;
					height: 8px;
					border-right: 2px solid black;
					border-bottom: 2px solid black;
					transform: rotate(-45deg);
					display: block;
					transition: all 300ms;
				}
			}
		}

		ul {
			@media screen and (max-width:$mobile-bp) {
				margin-right: -15px;
				margin-left: -15px;
				text-indent: 15px;
				display: none;
			}

			li {
				padding-bottom: 15px;

				p {
					a {
						display: block;
						font-weight: bold;
					}
				}
			}
		}

		.midias {
			@media screen and (max-width:$mobile-bp) {
				margin: 30px 0 5px;
			}

			.title {
				@media screen and (max-width:360px) {
					font-size: 14px;
				}

				@media screen and (max-width:$mobile-bp) {
					&:after {
						display: none;
					}
				}
			}

			@media screen and (max-width:$mobile-bp) {
				.title {
					width: 60%;
					height: 35px;
					line-height: 35px;
					float: left;
				}

				ul {
					width: 40%;
					float: right;
				}
			}

			ul {
				display: flex;

				li {
					margin-right: 10px;

					@media screen and (max-width:$mobile-bp) {
						margin-bottom: 0;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.row-2 {
		padding: 25px 0;

		.title {
			@media screen and (max-width:$mobile-bp) {
				text-align: center;
			}
		}

		ul,
		.paymentcards.formas-pagamento {
			@media screen and (max-width:$mobile-bp) {
				justify-content: center;
			}
		}

		ul {
			display: flex;
			align-items: center;

			li {
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.row-3 {
		padding: 10px 0;
		margin-top: 10px;
		border-top: 1px solid #dcdcdc;
		text-align: center;

		P {
			font-size: 13px;

			@media screen and (max-width:$mobile-bp) {
				font-size: 11px;
			}
		}
	}
}

//FIM - NEWS

.no-padding {
	@media screen and (min-width:$mobile-bp) {
		padding: 0 !important;
	}
}