$p-icon-search-mobile: 10px;

topbar,
headlogo {
    width: 100%;
}

._header {
    position: static!important;
    background: #4ba8b6;
    margin-top: 0px;
    
    &.fixed {
        box-shadow: rgba(0, 0, 0, .3) 0px 0px 10px 0px;
        
        @media screen and (max-width: $mobile-bp) {
            box-shadow: none;
            border-bottom: 1px solid #eee;
        }
        
        .blocoBusca {
            top: 90px;
        }
    }
    
    &.placeholder {display: none!important;}
    
    .row_1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
        @media screen and (min-width:$mobile-bp) {
            padding: 30px 0;
        } 
        
        @media screen and (max-width:$mobile-bp) {
            padding: 10px 0;
        } 
        
        .column {
            &.column_0 {
                display: none;
                @media screen and (max-width:$mobile-bp) {
                    display: block;
                    width: 25%;
                }
            }
            
            &.column_1 {
                @media screen and (min-width:$mobile-bp) {
                    position: relative;
                    
                    img {
                        position: absolute;
                        top: 50%;
                        margin-top: -67.5px;
                    }
                } 
                
                @media screen and (max-width:$mobile-bp) {
                    width: 25%!important;
                    order: 1;
                    text-align: center;
                    
                    img {
                        width: 80px;
                        height: auto;
                    }
                } 
            }
            
            &.column_1 {
                width: 12%;
            }
            
            &.column_3 {
                
                .searchcolumn {
                    .ui.icon.input>i.icon {
                        opacity: initial;
                    }
                    
                    @media screen and (max-width: $mobile-bp) {
                        display: none !important;
                    }
                }
                
                .prompt {
                    background-image: url(/assets/image/icones/ico-lupa.png);
                    background-repeat: no-repeat;
                    background-position: 10px;
                    text-indent: 30px;
                }
            }
            
            &.column_4 {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                
                @media screen and (max-width:$mobile-bp) {
                    width: 25%;
                    order: 3;
                    
                    .account {display: none;}
                } 
                
                #cartButton {
                    position: relative;
                    
                    #total_itens_card {
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        border-radius: 50px;
                        background: #c37780;
                        color: white;
                        text-align: center;
                        top: -3px;
                        line-height: 15px;
                        font-size: 10px;
                        right: -8px;
                    }
                }
            }
            
            &.column_3 {
                width: 60%;
                display: table;
                margin: 0 auto;
                
                @media screen and (max-width:$mobile-bp) {
                    display: none;
                }
            }
            
            &.column_4 {
                svg,
                path,
                g {
                    fill: #193a3f!important;
                }
            }
        }
    }
    
    .row_2{
        background-color: #2663A7;
        
        @media screen and (max-width: $mobile-bp) {
            display: none;
        }
        .ui.container {
            @media screen and (min-width: $mobile-bp) {
                width: 1127px;
            }
        }
    }
    
    .row_3{
        display: none;
        
        @media screen and (max-width: $mobile-bp) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
            .column_3 {
                width: 90%;
                display: table;
                margin: 0 auto;
                
                .searchcolumn {
                    padding-bottom: 20px;
                    
                    .ui.icon.input>i.icon {
                        opacity: initial;
                    }
                }
                
                .prompt {
                    background-image: url(/assets/image/icones/ico-lupa.png);
                    background-repeat: no-repeat;
                    background-position: 10px;
                    text-indent: 30px;
                }
            }
        }
    }
    
    .ui.container {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    i.circular.icon {
        box-shadow: none;
    }
    
    .ui.floating.label {
        top: 0.8em;
        left: 105%;
    }
    
    .searchMobile {
        display: inline-block;
        
        @media screen and (min-width: 375px) {
            float: right;
        }
        
        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px solid #eee;
        
        >.button {
            background: transparent;
            margin: 0;
        }
        
        .blocoBusca {
            display: none;
            background: #fff;
            border-radius: .5em;
            border: 1px solid #DDD;
            
            &.active {
                display: block !important;
                position: fixed;
                right: 10px;
                top: 100px;
                z-index: 10;
                width: calc(100% - 20px);
                height: 40px;
            }
            
            &Container {
                display: flex !important;
                align-items: center;
                
                .prompt {
                    border: 0px !important;
                    max-width: calc(100% - 80px);
                }
                
                .icon {
                    display: table;
                    padding: #{$p-icon-search-mobile / 2} $p-icon-search-mobile;
                    font-size: 1.5em;
                    margin-right: 0px !important;
                    
                    &:last-child {
                        border-left: 1px solid #DDD;
                    }
                    
                    &.disabled {
                        color: #999;
                    }
                }
            }
        }
    }
    
    .cartbutton {
        margin: 0;
        display: inline-block;
        cursor: pointer;
        float: right;
        line-height: 36px;
        
        .ui.basic.button {
            >span {
                @media screen and (max-width: $mobile-bp) {
                    display: none;
                }
            }
        }
    }
}

.wishlist {
    text-align: right !important;
    
    @media screen and (max-width: $desktop-bp-min) {
        text-align: center !important;
    }
    
    .absolute {
        position: absolute;
    }
    
    #wishListCount {
        position: relative;
        bottom: 6px;
        left: 16px;
        min-width: 18px !important;
        min-height: 18px !important;
        padding: 0 !important;
        line-height: 16px !important;
        font-size: 10px !important;
        background: #fff !important;
        border: 1px solid #2c3e50;
    }
}

#wishListCount {
    position: relative;
    bottom: 6px;
    left: 16px;
    min-width: 18px !important;
    min-height: 18px !important;
    padding: 0 !important;
    line-height: 16px !important;
    font-size: 10px !important;
    background: #fff !important;
    border: 1px solid #2c3e50;
}