﻿<!-- Start -->
<script src="~/assets/js/manifest.js"></script>
<script src="~/assets/js/vendor.js?v1"></script>
<script src="~/assets/js/app.js?v1"></script>

<!--GLOBAL-->
<script type="text/javascript">
    $(document).ready(function () {
        updateQuantidadeTopoCarrinho();

        $mobile = 1024;

        if ($('body').width() < $mobile) {
            //MENU INSTITUCIONAL
             $('.menu-institucional .title').on('click', function () {
                $(this).next('ul').slideToggle();
            });

            //FOOTER
            $('footer .toggle .title').on('click', function () {
                $(this).next('ul').slideToggle();
                $(this).parents('.toggle').toggleClass('active');
            });

            $('.infoBar ul').slick({
				autoplay: true,
				autoplaySpeed: 2000,
				infinite: false,
				arrows: false,
				dots: false,
				slidesToShow: 1,
				slidesToScroll: 1
			});
        }
        
        function page_active () {
            $('.menu-institucional ul li a').each(function (a,b) {
                console.log($(b).text());
                
                if ($(b).text() === $('.institucional h1').text()) {
                    $(b).addClass('active');
                }
            });
        }
        page_active();

        function instagram () {
            var token = '24827293364.1677ed0.29776f5615374223a7237a69c0d0eba3', // learn how to obtain it below
            userid = 24827293364, // User ID - get it in source HTML of your Instagram profile or look at the next example :)
            num_photos = 4; // how much photos do you want to get
        
            $.ajax({
                url: 'https://api.instagram.com/v1/users/' + userid + '/media/recent', // or /users/self/media/recent for Sandbox
                dataType: 'jsonp',
                type: 'GET',
                data: {access_token: token, count: num_photos},
                success: function(data){
                    $(data.data).each(function(a, el) {
                        let content = '';
                        content += '<li>';
                            content += '<a href="'+el.link+'" target="_blank">';
                                content += '<img src="'+el.images.low_resolution.url+'" alt="" />';
                                content += '<div class="likes"><i class="heart icon"></i> '+el.likes.count+'</div>';
                            content += '</a>';
                        content += '</li>';

                        $('#instagram ul').append(content);
                    });
                },
                error: function(data){
                    console.log(data); // send the error notifications to console
                }
            });
        }
        instagram();
    });

    function updateQuantidadeTopoCarrinho() {
        $.ajax({
            method: "GET",
            url: "@(Session["EventList"] != null ? "/EventList/TotalItensList" : "/Checkout/TotalItensCart")",
            data: {},
            cache: false,
            success: function (data) {
                $("#total_itens_card").text(data);
                if (data != "")
                    $("#MiniCartTitle").text("@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista") (" + data + ")")
            },
            onFailure: function (data) {
                    if (action == "plus") {
                        valorInput -= 1;
                    } else {
                        valorInput += 1;
                    }
                }
             });
    }
</script>