﻿@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<div id="overlay"></div>

<style>
    #ico_whatsapp {
        position:fixed;
        bottom:15px;
        right:15px;
        z-index:10;
    }
</style>

<div id="ico_whatsapp">
    <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5511999184083"><img src="/assets/image/ico-whats.png" width="70px" height="70px" alt="Whatsapp" /></a>
</div>

<div class="fluid box_newsletter">
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide tablet sixteen wide computer column">
                <div class="form_contact">
                    <div class="column_1">
                          <p>
                            <span>Cadastre-se!</span>
                            <small>Cadastre-se em nossa newsletter para receber nossas novidades e promoções</small>
                        </p>
                    </div>

                    <div class="column_2">
                        <input type="text" placeholder="Digite seu email" id="email_news">
                        <button id="btn_news">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="row-1">
        <div class="ui container fluid">
            <div class="ui container">
                <div class="ui grid footer-menu">
                    <div class="sixteen wide tablet three wide computer column">
                        <div class="toggle">
                            <p class="title">Categorias</p>
                            <ul>
                                <li><a href="/categoria/ambientes">Ambientes</a></li>
                                <li><a href="/categoria/tipos-de-rede">Tipos de Rede</a></li>
                                <li><a href="/categoria/criancas">Crianças</a></li>
                                <li><a href="/categoria/pets">Pets</a></li>
                                <li><a href="/categoria/promocao">Promoção</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sixteen wide tablet six wide computer column no-padding">
                        <div class="ui grid">
                            @Html.Action("CustomPages", "Home")
                        </div>
                    </div>

                    <div class="sixteen wide tablet three wide computer column">
                        <div class="toggle">
                            <p class="title">Relacionamento</p>

                            <ul>
                                <li>
                                    <p>
                                        Whatsapp:
                                        <a href="https://api.whatsapp.com/send?phone=">(11) 0000-0000</a>
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        SAC:
                                        <a href="tel:1142001309">@LojaCorp.Control.Company._Company.Phone1</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sixteen wide tablet two wide computer column midias">
                        <p class="title">Siga a Hyper Redes</p>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <img src="/assets/image/logo/ico-facebook.png" alt="Facebook" />
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <img src="/assets/image/logo/ico-instagram.png" alt="Instagram" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <div class="row-2">
        <div class="ui container fluid">
            <div class="ui container">
                <div class="ui grid footer-infos-gerais">
                    <div class="sixteen wide tablet six wide computer column no-padding">
                        <p class="title">Formas de Pagamento</p>
                        @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                    </div>

                    <div class="sixteen wide tablet six wide computer column no-padding">
                        <p class="title">Segurança</p>
                        <ul class="selos">
                            @Html.Action("EBit", "Company")

                            @Html.Action("GetCompanySeal", "Company")

                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 949 410" height="60px" class="image" id="jetCheckout-Logo">
                                    <g id="logo" fill-rule="evenodd">
                                        <path d="M673.7 209.9h-24.8l-9 46.7c-2.8 14.7-7.6 18.4-21.7 18.4-9.3 0-14.2-3.1-14.2-11.8 0-1.6.3-3.6.7-6.4l9-46.8h-15l-9 46.8c-.4 2.2-.7 5.3-.7 7.6 0 15.8 11.1 23.3 28.7 23.3 21.6 0 32.5-7.6 36.8-28.9l7.1-36.6h9.7l-6.8 34.7c-.6 3.4-1 6.3-1 9 0 12.3 6.7 19.4 23.1 19.4h12.1l2.4-12.4h-12.6c-7.2 0-9.9-2.2-9.9-8 0-1.5.3-3.5.7-6.3l7-36h21.9l2.5-12.7h-21.9l3.9-20.6-15.3 1.6-3.7 19zm-121.1 10.2c11.7 0 17.1 3.6 17.1 15.5 0 3.9-.7 8.8-1.9 15-3.8 18.5-8.3 24.5-23.2 24.5-11.7 0-17.1-3.6-17.1-15.5 0-3.9.7-8.8 1.9-15 3.8-18.5 8.3-24.5 23.2-24.5zm1.6-12.6c-23.9 0-35.2 11.4-40.1 37.7-1 5.7-1.6 10.4-1.6 14.9 0 20.3 11.1 27.6 30.5 27.6 23.9 0 35.2-11.4 40.1-37.7 1-5.7 1.6-10.4 1.6-14.9 0-20.3-11.1-27.6-30.5-27.6zm-32 2.4l-42.6 34.9 32.4 40.6h-18L465.3 249l-7 36.3h-15l21-108.4h15l-12.1 62.6 35.9-29.6h19.1zm-116.1 35.4c3.9-19.1 9.2-23.2 27.1-23.2 3 0 6.8.1 9.7.2l2.5-12.6c-3.3-.1-6.9-.2-10-.2-25.5 0-38.7 6.1-44.5 35.5-1 5.3-1.6 10.1-1.6 14.3 0 16.9 8.9 26.3 33 26.3 3.2 0 9.6-.3 13.6-.3h-.2l2.4-12.4c-7.9.3-11.2.2-15.9.2-12.1 0-17.7-2.9-17.7-14.4-.1-3.6.5-8 1.6-13.4zm-54.5 27.8c-12.3 0-16.8-4.8-16.8-14.7 0-1.3.1-3.1.3-4.4h19c22 0 30.6-6.4 33.7-19.7.6-2.5.9-4.8.9-7 0-11.8-8.2-19.7-27.4-19.7-16.9 0-33.3 6.3-39.5 37.4-1 5.1-1.6 9.8-1.6 14 0 15.6 7.4 26.7 30.2 26.7 9.3 0 15-.1 21.6-.7l4.8-12.6c-9.1.7-13.7.7-25.2.7zm8.8-53.4c10.1 0 13.7 3.1 13.7 8.5 0 1.6-.3 3.4-.9 5.3-2 6.7-5.4 8.9-19.1 8.9h-16.9c3.8-17.1 10.2-22.7 23.2-22.7zm-99.1-42.8l-21.2 108.4h15l9-46.7c2.8-14.7 7.7-18.4 22.2-18.4 9.3 0 14.4 3.1 14.4 12 0 1.9-.3 3.9-.7 6.3l-9 46.8h15l9-46.8c.6-2.8.9-5.4.9-7.9 0-16.1-11.7-23.1-26.4-23.1-10.1 0-16.5 1.9-20.4 5.8l7.2-36.5h-15v.1zm-58.4 68.4c-1 5.4-1.6 9.8-1.6 13.3 0 11.5 5.5 14.4 17.7 14.4 4.5 0 7.8.1 14.8-.1l-2.4 12.4h1.3c-3.9 0-10.4.3-13.6.3-24.1 0-33-9.3-33-26.3 0-4.2.6-9 1.6-14.3 5.8-29.3 19-35.5 44.5-35.5 3.4 0 7.5.1 11 .2l-2.5 12.6c-3.1-.1-7.4-.2-10.7-.2-17.9 0-23.1 4.1-27.1 23.2z"></path>
                                        <path d="M328.6 38.6l4.8 20.9h15.4c-7.4 34.5-21.5 99.6-21.5 99.7-1.4 6.3-3.9 12.9-9 17.2-6 5.1-15.4 3.9-22.5 2l-5.8 20.2c1.4.3 17.6 4.9 32.1 1.8 8.4-1.8 16.1-7.6 19.9-12.9 4.6-6.3 7-17.1 9-24.6 1.6-6.2 26.4-124.4 26.4-124.4h-48.8zM518.4 141.1c-3.3 1.4-6.5 2.4-9 2.7-7.6.8-13.1-4.4-8.8-23.1 4.9-21.1 13.8-61.1 13.8-61.1h31.4l4.8-20.9H519l6.5-28.4h-23c-.9 4.2-22.8 97.2-24.8 107-2.7 12.8-6.6 27.1 2.4 38.5 5.4 6.8 13.7 8.9 22.1 8.9 6.7 0 12.5-.8 17.4-3.1-2.4-3.1-3.8-6.9-3.8-11.1 0-3.5 1-6.7 2.6-9.4z"></path>
                                        <path d="M533.7 137.8c-2.7 0-5.2.9-7.2 2.3-3.2 2.3-5.3 6.1-5.3 10.3 0 3.2 1.2 6 3.1 8.3 2.3 2.7 5.7 4.4 9.5 4.4 6.9 0 12.5-5.7 12.5-12.6s-5.7-12.7-12.6-12.7zM400.8 111.7h4.8c23.6 0 59.4-3.9 69.3-29.9 4.6-12 3.7-26.9-6.3-36-7.9-7.1-20.2-9.8-30.7-9.5-34.3 1.2-57 31.4-62.3 60.2-3.3 17.8-3.6 37.8 7.6 53 8.8 12 23.4 15.1 38.4 15.1 18.8 0 34-5.9 34-5.9l5-23.1s-16.4 9.2-34.8 9.4c-14.5.1-23.6-8.3-24.9-21.4-.5-4.7-.1-11.9-.1-11.9zm36.7-55.3c4.7 0 8.3 1.1 10.7 3.2 2.4 2.1 3.6 5.1 3.6 8.9 0 7.3-3.9 13-11.9 17-7.9 4-18.9 6-32.9 6h-3.3c4.8-25.6 24-35.1 33.8-35.1zM709.5 209.5l16.3 46.6c1.1 3.3 4.4 5.5 8 5.5h45.7c3.5 0 6.6-2 7.9-5l11.8-27.9c1-2.4.8-5-.7-7.1-1.6-2.4-4.2-3.8-7.2-3.8h-59.2c-1.5 0-2.7-1.2-2.7-2.6 0-1.5 1.2-2.7 2.7-2.7h59.2c4.7 0 9.1 2.3 11.6 6.1 2.4 3.7 2.8 8.1 1.1 12.1l-11.8 27.9c-2.1 5-7.1 8.2-12.8 8.2h-45.7c-5.9 0-11.2-3.6-13.1-9l-16.9-48.3h5.8zM775.3 282.8c1.8 0 3.3-1.5 3.3-3.3 0-1.8-1.5-3.3-3.3-3.3-1.8 0-3.3 1.5-3.3 3.3-.1 1.8 1.4 3.3 3.3 3.3zm0-12c4.8 0 8.6 3.9 8.6 8.6 0 4.7-3.9 8.6-8.6 8.6-4.8 0-8.6-3.9-8.6-8.6-.1-4.7 3.8-8.6 8.6-8.6zM736.8 282.8c1.8 0 3.3-1.5 3.3-3.3 0-1.8-1.5-3.3-3.3-3.3-1.8 0-3.3 1.5-3.3 3.3 0 1.8 1.5 3.3 3.3 3.3zm0-12c4.8 0 8.6 3.9 8.6 8.6 0 4.7-3.9 8.6-8.6 8.6-4.8 0-8.6-3.9-8.6-8.6 0-4.7 3.8-8.6 8.6-8.6zM178 267.8h-28.5c-2.3 0-4.6 1.8-5.2 4.1-.6 2.2.7 4.1 3 4.1h28.5c2.3 0 4.6-1.8 5.2-4.1.6-2.2-.7-4.1-3-4.1zM188.7 223.1c.6-2.2-.7-4.1-3-4.1h-24.4c-2.2 0-4.6 1.8-5.2 4.1-.6 2.3.7 4.1 3 4.1h24.4c2.3-.1 4.6-1.9 5.2-4.1zM157.1 247.5c-.6 2.2.7 4.1 3 4.1h14.2c2.3 0 4.6-1.8 5.2-4.1.6-2.2-.7-4.1-3-4.1h-14.2c-2.3 0-4.6 1.8-5.2 4.1z"></path>
                                    </g>
                                    <path id="lock" d="M79.5 349.3h-4.3v-12.9c0-15-12.2-27.1-27.1-27.1S21 321.5 21 336.4v12.9h-4.3c-4.7 0-8.6 3.8-8.6 8.6v34.3c0 4.7 3.8 8.6 8.6 8.6h62.9c4.7 0 8.6-3.8 8.6-8.6v-34.3c-.1-4.7-4-8.6-8.7-8.6zm-24.3 30c0 3.9-3.2 7.1-7.1 7.1s-7.1-3.2-7.1-7.1v-8.6c0-3.9 3.2-7.1 7.1-7.1s7.1 3.2 7.1 7.1v8.6zm5.7-30H35.2v-12.9c0-7.1 5.8-12.9 12.9-12.9 7.1 0 12.9 5.8 12.9 12.9v12.9z"></path>
                                    <path id="texto" d="M145.5 333.2c-5.9 0-10.5 2-13.9 5.9-3.4 3.9-5.1 9.3-5.1 16.1 0 7 1.6 12.4 4.9 16.2 3.3 3.8 7.9 5.7 14 5.7 3.7 0 8-.7 12.8-2v5.4c-3.7 1.4-8.3 2.1-13.7 2.1-7.9 0-13.9-2.4-18.2-7.2-4.3-4.8-6.4-11.6-6.4-20.4 0-5.5 1-10.3 3.1-14.5 2.1-4.1 5-7.3 8.9-9.6 3.9-2.2 8.5-3.4 13.7-3.4 5.6 0 10.5 1 14.7 3.1l-2.6 5.3c-4.1-1.8-8.2-2.7-12.2-2.7zM216.2 355c0 8.6-2.2 15.3-6.5 20.2-4.3 4.9-10.3 7.3-18 7.3-7.9 0-13.9-2.4-18.2-7.2-4.3-4.8-6.4-11.6-6.4-20.4 0-8.7 2.1-15.4 6.4-20.2 4.3-4.8 10.4-7.2 18.3-7.2 7.7 0 13.7 2.4 18 7.3 4.2 4.9 6.4 11.6 6.4 20.2zm-42.6 0c0 7.2 1.5 12.7 4.6 16.5 3.1 3.7 7.6 5.6 13.4 5.6 5.9 0 10.4-1.9 13.4-5.6 3-3.7 4.5-9.2 4.5-16.5 0-7.2-1.5-12.6-4.5-16.4-3-3.7-7.5-5.6-13.4-5.6s-10.4 1.9-13.5 5.6c-2.9 3.8-4.5 9.3-4.5 16.4zM251.8 381.8l-18.1-47.4h-.3c.3 3.8.5 8.2.5 13.4v34h-5.7v-53.4h9.4l16.9 44.1h.3l17.1-44.1h9.3v53.4H275v-34.4c0-3.9.2-8.2.5-12.9h-.5l-18.3 47.3h-4.9zM329.6 343.9c0 5.4-1.8 9.6-5.5 12.5-3.7 2.9-9 4.4-15.8 4.4H302v21h-6.2v-53.4h13.9c13.2 0 19.9 5.2 19.9 15.5zm-27.7 11.6h5.6c5.5 0 9.5-.9 12-2.7s3.7-4.6 3.7-8.6c0-3.5-1.2-6.2-3.5-7.9-2.3-1.7-5.9-2.6-10.8-2.6H302v21.8zM347 359.6v22.2h-6.2v-53.4h14.7c6.6 0 11.4 1.3 14.5 3.8 3.1 2.5 4.7 6.3 4.7 11.3 0 7.1-3.6 11.8-10.7 14.3l14.5 24H371l-12.9-22.2H347zm0-5.3h8.5c4.4 0 7.6-.9 9.6-2.6 2-1.7 3.1-4.4 3.1-7.8 0-3.5-1-6.1-3.1-7.6-2.1-1.6-5.4-2.3-10-2.3H347v20.3zM420.6 381.8l-6.7-17h-21.4l-6.6 17h-6.3l21.1-53.7h5.2l21 53.7h-6.3zm-8.6-22.6l-6.2-16.6c-.8-2.1-1.6-4.7-2.5-7.7-.5 2.3-1.3 4.9-2.3 7.7l-6.3 16.6H412zM472.6 381.8h-5.9v-38.1c0-3.2.1-6.2.3-9-.5.5-1.1 1-1.7 1.6-.6.6-3.5 2.9-8.7 7.1l-3.2-4.2 14.1-10.9h5.1v53.5zM528.3 355c0 9.2-1.5 16.1-4.4 20.7-2.9 4.6-7.4 6.8-13.4 6.8-5.8 0-10.1-2.3-13.1-7s-4.5-11.5-4.5-20.5c0-9.3 1.4-16.2 4.3-20.7s7.3-6.8 13.3-6.8c5.8 0 10.2 2.4 13.2 7.1 3.1 4.7 4.6 11.5 4.6 20.4zm-29.2 0c0 7.8.9 13.4 2.7 17s4.7 5.3 8.7 5.3c4 0 7-1.8 8.8-5.4 1.8-3.6 2.7-9.2 2.7-16.9s-.9-13.3-2.7-16.9c-1.8-3.6-4.7-5.4-8.8-5.4-4 0-6.9 1.8-8.7 5.3-1.7 3.6-2.7 9.2-2.7 17zM571.1 355c0 9.2-1.5 16.1-4.4 20.7-2.9 4.6-7.4 6.8-13.4 6.8-5.8 0-10.1-2.3-13.1-7s-4.5-11.5-4.5-20.5c0-9.3 1.4-16.2 4.3-20.7s7.3-6.8 13.3-6.8c5.8 0 10.2 2.4 13.2 7.1 3.1 4.7 4.6 11.5 4.6 20.4zm-29.2 0c0 7.8.9 13.4 2.7 17s4.7 5.3 8.7 5.3c4 0 7-1.8 8.8-5.4 1.8-3.6 2.7-9.2 2.7-16.9s-.9-13.3-2.7-16.9c-1.8-3.6-4.7-5.4-8.8-5.4-4 0-6.9 1.8-8.7 5.3-1.7 3.6-2.7 9.2-2.7 17zM600.5 344.3c0 5.6-.9 9.8-2.8 12.6-1.9 2.8-4.6 4.3-8.2 4.3-3.4 0-6.1-1.5-7.9-4.3-1.9-2.9-2.8-7.1-2.8-12.5 0-5.5.9-9.7 2.7-12.5 1.8-2.8 4.5-4.2 8.1-4.2 3.5 0 6.3 1.4 8.2 4.3s2.7 7 2.7 12.3zm-16.8 0c0 4.1.5 7.2 1.4 9.3.9 2.1 2.4 3.1 4.4 3.1 4 0 6-4.1 6-12.4 0-8.2-2-12.4-6-12.4-2 0-3.5 1-4.4 3.1-.9 2.1-1.4 5.2-1.4 9.3zm39.5-15.9l-29.6 53.4h-5.4l29.6-53.4h5.4zm9.4 37.3c0 5.5-.9 9.7-2.8 12.6-1.9 2.8-4.6 4.3-8.2 4.3-3.5 0-6.1-1.4-8-4.3-1.9-2.9-2.8-7.1-2.8-12.5 0-5.5.9-9.7 2.7-12.5 1.8-2.8 4.5-4.2 8.1-4.2 3.5 0 6.2 1.4 8.1 4.3 2 2.8 2.9 6.9 2.9 12.3zm-16.7 0c0 4.2.5 7.3 1.4 9.3.9 2.1 2.4 3.1 4.4 3.1 2 0 3.6-1 4.5-3.1s1.5-5.2 1.5-9.4-.5-7.3-1.5-9.3c-1-2-2.5-3-4.5-3s-3.5 1-4.4 3c-1 2.2-1.4 5.3-1.4 9.4zM693.4 367.6c0 4.7-1.7 8.4-5.1 11-3.4 2.6-8 3.9-13.9 3.9-6.3 0-11.2-.8-14.6-2.4v-6c2.2.9 4.6 1.7 7.2 2.2 2.6.5 5.1.8 7.7.8 4.1 0 7.3-.8 9.4-2.4 2.1-1.6 3.1-3.8 3.1-6.6 0-1.9-.4-3.4-1.1-4.5s-2-2.3-3.7-3.3c-1.7-1-4.4-2.1-7.9-3.4-5-1.8-8.5-3.9-10.7-6.3-2.1-2.4-3.2-5.6-3.2-9.5 0-4.1 1.5-7.4 4.6-9.8 3.1-2.4 7.2-3.7 12.3-3.7 5.3 0 10.2 1 14.7 2.9l-1.9 5.4c-4.4-1.9-8.7-2.8-12.9-2.8-3.3 0-5.9.7-7.7 2.1s-2.8 3.4-2.8 5.9c0 1.9.3 3.4 1 4.5.7 1.2 1.8 2.3 3.5 3.3 1.6 1 4.1 2.1 7.4 3.3 5.6 2 9.5 4.1 11.6 6.4 2 2.4 3 5.3 3 9zM734.1 381.8h-29.8v-53.4h29.8v5.5h-23.6v17.2h22.1v5.5h-22.1v19.7h23.6v5.5zM769.5 353.8h18.2v26c-2.8.9-5.7 1.6-8.6 2-2.9.5-6.3.7-10.2.7-8.1 0-14.4-2.4-18.9-7.2-4.5-4.8-6.8-11.6-6.8-20.2 0-5.6 1.1-10.4 3.3-14.6 2.2-4.2 5.4-7.4 9.6-9.6 4.2-2.2 9.1-3.3 14.7-3.3 5.7 0 11 1 15.9 3.1l-2.4 5.5c-4.8-2-9.5-3.1-13.9-3.1-6.5 0-11.6 1.9-15.2 5.8-3.7 3.9-5.5 9.2-5.5 16.1 0 7.2 1.8 12.7 5.3 16.4 3.5 3.7 8.7 5.6 15.5 5.6 3.7 0 7.3-.4 10.9-1.3v-16.4h-12v-5.5zM840.8 328.4V363c0 6.1-1.8 10.9-5.5 14.4s-8.7 5.2-15.2 5.2c-6.4 0-11.4-1.8-14.9-5.3s-5.3-8.3-5.3-14.5v-34.4h6.2v34.9c0 4.5 1.2 7.9 3.7 10.3s6 3.6 10.7 3.6c4.5 0 8-1.2 10.4-3.6 2.4-2.4 3.7-5.8 3.7-10.3v-34.8h6.2zM861.2 359.6v22.2H855v-53.4h14.7c6.6 0 11.4 1.3 14.5 3.8 3.1 2.5 4.7 6.3 4.7 11.3 0 7.1-3.6 11.8-10.7 14.3l14.5 24h-7.3l-12.9-22.2h-11.3zm0-5.3h8.5c4.4 0 7.6-.9 9.6-2.6s3.1-4.4 3.1-7.8c0-3.5-1-6.1-3.1-7.6s-5.4-2.3-10-2.3h-8.1v20.3zM934.8 381.8l-6.7-17h-21.4l-6.6 17h-6.3l21.1-53.7h5.2l21 53.7h-6.3zm-8.6-22.6l-6.2-16.6c-.8-2.1-1.6-4.7-2.5-7.7-.5 2.3-1.3 4.9-2.3 7.7l-6.3 16.6h17.3z"></path>
                                </svg>
                            </li>
                        </ul>
                    </div>

                    <div class="sixteen wide tablet four wide computer column no-padding">
                        <p class="title">Tecnologia/Implantação</p>
                        <ul>
                            <li>
                                <a href="https://www.jetecommerce.com.br/" target="_blank">
                                    @Html.Partial("Common/_JetLogo")
                                </a>
                            </li>
                            
                            <li>
                                <a href="https://www.sandersdigital.com.br/" target="_blank">
                                    <img src="/assets/image/logo/ico-sanders.png" alt="Sanders Digital" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-3 copyright">
        <p>
            @{
                string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
            }
            @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
            @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
            CNPJ: @LojaCorp.Control.Company._Company.CNPJ
        </p>
    </div>
</footer>