﻿<div class="ui container topbar aligned right mobile-hide" id="top_bar">
    <div class="ui relaxed horizontal list">
        <div class="item">
            <a href="" title="Telefone">
                <i class="phone icon"></i> (11) 9999-9999
            </a>
        </div>

        <div class="item">
            <a href="" title="Whatsapp">
                <i class="whatsapp icon"></i> (11) 99999-9999
            </a>
        </div>

        <div class="item">
            <a href="" title="Instagram">
                <i class="instagram icon"></i>
            </a>

            <a href="" title="Facebook">
                <i class="facebook icon"></i>
            </a>
        </div>
    </div>
</div>